{{define "application.html"}}
    {{template  "head" }}
    <body class="c-app">

    {{template  "side_menus" }}

    <div class="c-wrapper c-fixed-components">

        {{template "header"}}

        <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">

                    {{/*<h1>在此处填充内容</h1>*/}}

                    {{block "content" .}}{{end}}
                </div>
            </main>
        </div>


        {{template "footer"}}

    </div>

    <!--<![endif]-->
    </body>
    </html>
{{end}}
