{{define "articles/index.html"}}
    {{template "layout_before" .}}
    <a  class="btn btn-pill btn-info" href="/crms/articles/new">新增</a>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">标题</th>
            <th scope="col">子标题</th>
            <th scope="col">创建时间</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {{range $article := .articles}}
            <tr>
                <td>{{$article.ID}}</td>
                <td>{{$article.Title}}</td>
                <td>{{$article.Subtitle}}</td>
                <td>{{$article.CreatedAt}}</td>
                <td>操作</td>
            </tr>
        {{end}}

        </tbody>
    </table>

    {{.paginate}}

    {{template "layout_after"}}

{{end}}