{{define "users/index.html"}}
    {{template "layout_before" .}}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">用户名</th>
            <th scope="col">邮箱</th>
            <th scope="col">创建时间</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {{range $user := .users}}
            <tr>
                <td>{{$user.ID}}</td>
                <td>{{$user.Name}}</td>
                <td>{{$user.Email}}</td>
                <td>{{$user.CreatedAt.Format "2006-01-02 15:04:05" }}</td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="deleteUser({{$user.ID}})">
                       删除
                    </button>
                </td>
            </tr>
        {{end}}

        </tbody>
    </table>
    {{.paginate}}

    {{template "users/modal.html"}}

    {{template "layout_after"}}

{{end}}



